$primary-color: #898989;
$secondary-color: #353535;
$ternary-color: #232323;
$name-color: #000;
$title-color: #000;


.introduction-wrapper
{
  border-bottom: 5px solid $secondary-color;
  background-color: #fff;
  padding-top: $unit-three;
  min-height: 90vh;
}

.introduction-wrapper h1.fullname
{
  color: $name-color;

  font-weight: 400;
  font-size: $unit-two;
  line-height: $unit-three;

  margin-bottom: 0px;
}

.introduction-wrapper h2.title
{
  color: $title-color;
  
  font-weight: 700;
  font-size: $unit-two;
  line-height: $unit-three;

  margin-bottom: $unit-one;
}

.introduction-wrapper .biography
{
  font-weight: 300;
  font-size: $unit-one;
  line-height: $unit-one-half;

  margin-bottom: $unit-two;
}

.introduction-wrapper .author-image
{
  display: block;

  border-radius: 20px;
  border: 1px solid #efefef;
  
  max-width: 300px;

  margin-left: auto;
  margin-right: auto;
}

.accent
{
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  width: 500px;
  height: 500px;

  background-color: #232323;

  position: absolute;
  left: calc(100vw - 512px);
  bottom: 250px;
}

@media (max-width: 1199.98px)
{
  .introduction-wrapper .author-image
  {
    max-width: 200px;
    margin-top: 25%;
  }
}

@media (max-width: 991.98px)
{
  .introduction-wrapper .author-image
  {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 767.98px)
{
  .introduction-wrapper .fullname
  {
    padding-bottom: $unit-half;
  }

  .introduction-wrapper .fullname,
  .introduction-wrapper .title
  {
    font-size: $unit-one;
    line-height: $unit-one;
  }
}