.project-type-browser-wrapper 
{
  margin-bottom: 400px;
}

.project-type-browser-wrapper h2
{
  border-bottom: 1px solid #cfcfcf;
  
  color: #232323;
  font-size: 3rem;
  font-weight: 700;
  
  width: 100%;

  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.project-type-browser-wrapper  .project-type-button-label
{
  color: #232323;
  font-size: 1.5rem;
  margin-right: 1rem;
}