.navigation-wrapper
{
  background-color: #efefef;
  border-bottom: 1px solid #cacaca;

  padding-top: $unit-two;
  padding-bottom: $unit-one;
  margin-bottom: $unit-one;
}

.navigation-wrapper ul
{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.navigation-wrapper ul li
{
  display: inline-block;
  border-right: 1px solid #cacaca;

  font-weight: 300;
  font-size: $unit-one;
  
  padding-right: $unit-one;
  margin-right: $unit-one;
  margin-bottom: $unit-one;
}

.navigation-wrapper ul li a:link,
.navigation-wrapper ul li a:active,
.navigation-wrapper ul li a:visited
{
  color: #000;
  font-weight: 700;
  text-decoration: none;
}



.navigation-wrapper ul li a:hover
{
  color: rgb(182, 182, 182);
  text-decoration: underline;
}

@media (max-width: 560px) {

  .navigation-wrapper ul li {
    border-right: none;
  }

}