$primary-color: #232323;
$secondary-color: #efefef;

.skill-search-wrapper
{
  border-bottom: 5px solid #d8d8d8;
  background-color: $primary-color;
  color: $secondary-color;
  padding-top: $unit-two;
  padding-bottom: $unit-two;
}

.skill-search-wrapper .skill-section
{

}

.skill-search-wrapper .section-header
{
  font-weight: 700;
}


.skill-search-wrapper .section-buttons
{

}

.skill-search-wrapper .section-buttons .skill-button
{
  display: inline-block;
}
