$image-border-color: #e9e9e9;

.portfolio-listing-wrapper
{
  margin-top: $unit-two;
  margin-bottom: $unit-two;
}

.portfolio-listing-wrapper img.portfolio-image
{
  border-radius: 20px;
  border: 1px solid $image-border-color;

  width: 100%;
  height: 300px;

  -o-object-fit: cover;
  object-fit: cover;

  -o-object-position: 0px 0px;
  object-position: 0px 0px;

  margin-bottom: $unit-four;
}

.portfolio-listing-wrapper .project-header
{
  font-weight: 700;
  font-size: $unit-one;
  margin-bottom: $unit-one;
}

.portfolio-listing-wrapper .project-description
{
  font-weight: 300;
  font-size: $unit-one;
  line-height: $unit-one-half;
  margin-bottom: $unit-one;
}

.portfolio-listing-wrapper .skills .skills-header
{
  display: inline-block;
  font-weight: 700;
  list-style: none;
  padding-right: 5px;
}

.portfolio-listing-wrapper .skills ul
{
  display: inline-block;
  padding-left: 0px;
}

.portfolio-listing-wrapper .skills ul li
{
  display: inline-block;
}

.portfolio-listing-wrapper .skills ul li::after
{
  content: "\00a0";
}