$card-background-color: #232323;
$card-inactive-color: #efefef;
$card-active-color: #f00;

.portfolio-listing-wrapper
{
  margin-top: $unit-two;
  margin-bottom: $unit-two;
}

.portfolio-listing-wrapper .project-wrapper
{
  border-radius: 20px;
  color: $card-inactive-color;

  padding: 30px 30px 0px 30px;
  overflow: hidden;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.portfolio-listing-wrapper .project-wrapper:hover
{
  opacity: 0.5;
}

.portfolio-listing-wrapper .project-wrapper:hover .project-image img
{
  transform: translate(0px, 0px);

  -webkit-transform: translate(0px, 0px); /* Safari & Chrome */
  -moz-transform: translate(0px, 0px); /* Firefox */
  -ms-transform: translate(0px, 0px); /* Internet Explorer */
  -o-transform: translate(0px, 0px); 
}

.portfolio-listing-wrapper a
{
  color: $card-inactive-color;
  text-decoration: none;
}


.portfolio-listing-wrapper .project-wrapper .project-information
{
  margin-bottom: $unit-two;
}

.portfolio-listing-wrapper .project-wrapper .project-name
{
  text-align: left;
}

.portfolio-listing-wrapper .project-wrapper .project-description
{
  text-align: right;
}

.portfolio-listing-wrapper .project-wrapper .project-image img
{
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  height: 200px;
  width: 75%;
  
  margin-left: auto;
  margin-right: auto;

  object-fit: cover;
  object-position: 0px 0px;

  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 20px); /* Safari & Chrome */
  -moz-transform: translate(0px, 20px); /* Firefox */
  -ms-transform: translate(0px, 20px); /* Internet Explorer */
  -o-transform: translate(0px, 20px); 

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
  -ms-transition:     all 0.5s ease-in-out;
  transition:         all 0.5s ease-in-out;
}