$card-background-color: #232323;
$card-inactive-color: #efefef;
$card-active-color: #f00;

.portfolio-listing-wrapper
{
  margin-top: $unit-two;
  margin-bottom: $unit-two;
}

.portfolio-listing-wrapper .project-wrapper
{
  border-radius: 20px;
  padding: 30px 30px 0px 30px;

  color: $card-inactive-color;
  background: $card-background-color;
  overflow: hidden;
}

.portfolio-listing-wrapper a
{
  color: $card-inactive-color;
  text-decoration: none;
}


.portfolio-listing-wrapper .project-wrapper .project-information
{
  margin-bottom: $unit-two;
}

.portfolio-listing-wrapper .project-wrapper .project-name
{
  text-align: left;
}

.portfolio-listing-wrapper .project-wrapper .project-description
{
  text-align: right;
}

.portfolio-listing-wrapper .project-wrapper .project-image img
{
  display: block;

  height: 200px;
  width: 75%;
  
  margin-left: auto;
  margin-right: auto;

  object-fit: cover;
  object-position: 0px 0px;

  border-radius: 10px;
  
  translate: 0px 20px;
}

.portfolio-listing-wrapper .project-wrapper .project-image img
{
  transition: 0px 10px;
}
