.skill-list-skill
{
  display: inline-block;
  border-radius: 25px;
  border: 1px solid #efefef;
  
  color: #efefef;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  width: auto;

  padding: 0px 20px 0px 20px;
  margin-bottom: $unit-half;
  margin-right: 10px;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.skill-list-skill:hover
{
  background-color: #7a7a7a !important;
}